{# Widget attributes #}
{% block widget_container_attributes %}
{% spaceless %}
    {% if id is not empty %}id="{{ id }}" {% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}


{# Form row #}
{% block form_row %}
{% spaceless %}

    <div class="form-group {% if errors|length > 0 %}form-group--has-error{% endif %}">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label col-lg-2'}}) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{# Form label #}
{% block form_label %}
{% spaceless %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form-control-label')|trim}) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': label_attr.class ~ ' form-control-label--required'}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}{% if required %} *{% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}


{# Form widget: Hidden #}
{% block hidden_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="form-widget--hidden hidden">
        {% set type = type|default('hidden') %}
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock hidden_widget %}


{# Form widget: Input #}
{% block form_widget_simple %}
{% spaceless %}
<div class="col-lg-10">
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control ">
    </div>
{% endspaceless %}
{% endblock form_widget_simple %}


{# Form widget: Textarea #}
{% block textarea_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }} class="form-control form-control--textarea form-widget--textarea">{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}


{# Form widget: Selectbox #}
{% block choice_widget_collapsed %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="form-widget--select">
        {#<i class="icon icon--triangle-down select__icon"></i>#}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control form-control--select">
            {% if placeholder is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
        <span class="form-bar"></span>
    </div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{# Form widget: Choice expanded - Radiobutton / Checkbox #}
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="form-widget--choices">
        {% for child in form %}
            {{ form_widget(child, { 'required': false }) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}
{#{% block _carrousel_locale_widget %}#}
    {#<ul class="nav nav-pills">#}
        {#<li {{ block('widget_attributes') }} class="active"><a href="#fr" data-toggle="tab">FRANCE</a></li>#}
        {#<li {{ block('widget_attributes') }} "><a href="#en" data-toggle="tab">ANGLAIS</a></li>#}
    {#</ul>#}
{#{% endblock%}#}

    {#{% block _carrousel_locale_widget %}#}
    <ul class="nav nav-pills">
    <li {{ block('widget_attributes') }} class="active"><a href="#fr" data-toggle="tab">FRANCE</a></li>
    <li {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}"><a href="#en" data-toggle="tab" value="en">ANGLAIS</a></li>
    </ul>
        {#<a href="#en" data-toggle="tab" value="fr">ANGLAIS</a>#}
        {#<a href="#en" data-toggle="tab" value="en">ANGLAIS</a>#}
    {#{% endblock%}#}

        {#{% block _carrousel_namecs_title_widget %}#}
            {#<div class="tab-content">#}


                {#<div class="tab-pane fade in active" id="fr">#}
                    {#<div class="col-lg-10 ">#}
                        {#{% set type = type|default('text') %}#}
                        {#<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control ">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="tab-pane fade" id="en">#}
                    {#<div class="col-lg-10">#}
                        {#{% set type = type|default('text') %}#}
                        {#<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control ">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endblock %}#}



{# Form widget: Radiobutton #}
{% block radio_widget %}
{% spaceless %}
    <div class="radio">
        {% if required and not compound %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="form-control-choice">
        <label for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain)|raw }}{% if required and not compound %}<span class="form-group__required-symbol">*</span>{% endif %}
        </label>
    </div>
{% endspaceless %}
{% endblock radio_widget %}


 {#Form widget: Checkbox #}
{#{% block checkbox_widget %}#}
{#{% spaceless %}#}
    {#<div class="checkbox">#}
        {#{% if required %}#}
            {#{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}#}
        {#{% endif %}#}
        {#{% if label is empty %}#}
            {#{% set label = name|humanize %}#}
        {#{% endif %}#}
        {#<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="form-control-choice">#}
        {#<label for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>#}
            {#{{ label|trans({}, translation_domain)|raw }}{% if required %}<span class="form-group__required-symbol">*</span>{% endif %}#}
        {#</label>#}
    {#</div>#}
{#{% endspaceless %}#}
{#{% endblock checkbox_widget %}#}
{% block checkbox_widget %}
{% spaceless %}

{#<div class="checkbox checkbox-switch">#}
    {#<label>#}
        {#<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %}#}
            {#value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} >#}

        {#<input type="checkbox" data-on-color="danger" data-off-color="primary" data-on-text="Enable" data-off-text="Disable" class="switch" checked="checked">#}
        {#Enable/Disable#}
    {#</label>#}
{#</div>#}
    <div class="checkbox checkbox-switchery">
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %}
                value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="switchery-primary">

        </label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}
{# Form widget: File upload #}

{% block file_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }} class="form-group">
        {{ block('form_widget') }}
    </div>
{% endspaceless %}
{% endblock %}


{# Form errors #}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block">{{ error.message }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}


{# Button row #}
{% block button_row %}
{% spaceless %}
    <div class="form-group text--right">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}


{# Submit button #}
{% block submit_widget %}
{% spaceless %}
    <div class="form-group text--right">
        {% set type = type|default('submit') %}
        {{ block('button_widget') }}
    </div>
{% endspaceless %}
{% endblock submit_widget %}
